/* CLASS SELECTOR */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.box {
    background-color: hsl(216, 50%, 16%);
    width: 320px;
    margin: 60px auto;
    padding-top: 23px;
    border-radius: 10px;
    height: 525px;
    font-family: "Outfit", sans-serif;
    line-height: 1.5;
}

.image-container {
    height: 272px;
    width: 272px;
    margin: 1px auto;
    border-radius: 11px;
    position: relative;
    background-color: hsla(178, 100%, 50%, 50%);
}

.active-state {
    height: 48px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .active-state {
    opacity: 1;
}

.image-equilibrium {
    border-radius: 10px;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 0px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-container:hover .image-equilibrium {
    opacity: 0.5;
}

.middle-container {
    padding-left: 22px;
    padding-right: 22px;
}

.nft-name {
    font-weight: 600;
    position: relative;
    top: 8px;
    font-size: 20px;
}


.left-container {
    display: inline-block;
    color: hsl(178, 100%, 50%);
    width: 49%;
    position: relative;
    font-weight: 400;
}

.eth-icon {
    margin-top: 2px;
}

.eth-coins {
    display: inline-block;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 8px;
}

.right-container {
    display: inline-block;
    position: relative;
    width: 49%;
    height: 24px;
    top: 4px;
    font-weight: 400;
}

.clock-icon {
    position: absolute;
    left: 38px;
    top: 2px;
}

.time-left {
    display: inline-block;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    left: auto;
    right: 0px;
    padding-left: 8px;
}

.bottom-container {
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 12px;
    font-weight: 300;
}

.avatar {
    width: 10%;
    border: 1px solid white;
    border-radius: 20px
}

.author {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    bottom: 10px;
}

/* TAG SELECTOR */

body {
    background-color: hsl(217, 54%, 11%);
    align-content: center;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

hr {
    width: 85%;
    border: 1px solid hsl(215, 32%, 27%);
    margin-top: 18px;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #00fff7
}