/* CLASS SELECTOR */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.box {
    background-color: hsl(216, 50%, 16%);
    width: 320px;
    margin: 60px auto;
    padding-top: 23px;
    border-radius: 10px;
    height: 530px;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.image-container {
    height: 272px;
    width: 272px;
    margin: 1px auto;
    border-radius: 11px;
    background-color: hsl(178, 100%, 50%);
}

.image-equilibrium {
    border-radius: 10px;
    width: 100%;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.image-equilibrium:hover {
    opacity: 0.5;
}

.middle-container {
    padding-left: 22px;
    padding-right: 22px;
}

.nft-name {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    position: relative;
    top: 8px;
}

.nft-name:hover {
    color: hsl(178, 100%, 50%);
}

.left-container {
    display: inline-block;
    color: hsl(178, 100%, 50%);
    width: 49%;
    position: relative;
    font-weight: 400;
}

.eth-icon {
    margin-top: 2px;
}

.eth-coins {
    display: inline-block;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 8px;
}

.right-container {
    display: inline-block;
    position: relative;
    width: 49%;
    height: 24px;
    top: 4px;
    font-weight: 300;
}

.clock-icon {
    position: absolute;
    left: 38px;
    top: 2px;
}

.time-left {
    display: inline-block;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    left: auto;
    right: 0px;
    padding-left: 8px;
}

.bottom-container {
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 12px;
    font-weight: 300;
}

.avatar {
    width: 10%;
    border: 1px solid white;
    border-radius: 20px
}

.author {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    bottom: 10px;
}

.author-name {
    color: white;
}

.author-name:hover {
    color: hsl(178, 100%, 50%);
}

/* TAG SELECTOR */

body {
    background-color: hsl(217, 54%, 11%);
    align-content: center;
    color: hsl(215, 51%, 70%);
}

hr {
    width: 85%;
    border: 1px solid hsl(215, 32%, 27%);
    margin-top: 12px;
}